<h2 id="view-header">Instance List</h2>


<button onclick="getInstanceVariables()">View Variables</button>

<div style="width: 55%;">
    <table id="varTable" class="table table-striped table-bordered">
        <thead>
        <tr style="background-color:#66c2ff">

            <th class="col-sm-2">Variable</th>
            <th class="col-sm-1">Value</th>

        </tr>
        </thead>
    </table>

</div>
