<h2 id="view-header">Instance List</h2>
<input type="text" name="DeploymentID" id="DeploymentID" hidden=true value={{processDeploymentID}}></input>

<button onclick="getInstance()">View Instances</button>

<div style="width: 55%;">
    <table id="dataTable" class="table table-striped table-bordered">
        <thead>
        <tr style="background-color:#66c2ff">

            <th class="col-sm-2">Instance ID</th>
            <th class="col-sm-1">Process ID</th>
            <th class="col-sm-1">Created Date</th>
            <th class="col-sm-1">View Variables</th>
        </tr>
        </thead>
    </table>
</div>
