<h2 id="view-header">Instance List</h2>
<p>Click on any Instance to view</p>

<button onclick="getInstance()">View Table</button>


<div style="width: 55%;">
    <table id="dataTable" class="table table-striped table-bordered">
        <thread>
            <tr style="background-color:#66c2ff">

                <th class="col-sm-2">Instance ID</th>
                <th class="col-sm-1">Process ID</th>
                <th class="col-sm-1">Start Time</th>
                <th class="col-sm-1">View Variables</th>
            </tr>
